@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
*{
    font-family:"barlow";

    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
header{
    background-color: black;
    background-image: url(imagens/imagem-pizza.png);
    background-attachment:scroll;
    background-position: center;
    background-size: cover;
    width: auto;
    min-height: auto;
    margin:-9px -8px -30px ;
    padding: 9px;
    box-shadow:1px 0px 4px 0px black;
    
}
.delivery {
    background-color: rgb(238, 0, 0);
    width: auto;
    margin:-9px -8px -30px ;
    padding: 9px;
    height: 30px;
    display: flex;
    align-items: center;
}
.delivery > p{
    text-align: left;

}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin: 34px auto ;
    padding: 50px;
    background-image: url(imagens/favicon.ico);


}
.titulo{
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    
}
nav{
    text-align: center;
}
nav > a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-style: bold;
    font-size: 19px;
    text-decoration: none;
    padding: 10px;
}
nav > a:hover{
    color: rgba(255, 255, 0, 0.897);
    text-decoration:none;
}
main{
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 24px 24px ;
    min-width:320px;
    max-width: 947px;
    margin: 30px auto;
}
body{
    background-color:white;
    
    color: white;
}
footer{
    background-color: rgba(0, 0, 0, 0.403);
    background-image:url(imagens/269.jpg);
    margin: auto;
    height: 360px;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    
}
.mapa{
    height: 100%;
    width: 100%;
    
}
header p{
    text-align:center;
}
.mapa > iframe{
    height: auto;
   
}

p{
    color: white;
}
h2{
    text-align: center;
    color: white;
}

.container{
    display:flex;
    
    justify-content: space-evenly;
}
.horario{
    width: 300px;
    color: black;
    font-size: 10px;
    color: white;
}

ul{
    width: 100px;
    margin: auto;
    padding: 10px;
    font-size: 10px;
    text-align: center;

   
}
ul > li{
    text-align: center;
    color: white;
}
.endereco{
    color: black;
    width: 200px;
    
    
}
.telefone{
    color: black;
}
.container2{
    background-color: rgba(255, 255, 255, 0.399);
    background-image: url(imagens/v642-nap-26-fastfood.jpg);
    background-position: center;
    background-size: cover;
    height:300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid{
    width: 300px;
    height: 286px;
    background-color: black;
    background-image: url(imagens/Beige\ Minimalist\ Collage\ Instagram\ Post.png);
    background-position: center;
    background-repeat: none;
    background-size:cover;
    
    
}
.descrição-promo {
    color: black;
    width: 300px;
    text-align: center;
}
.descrição-promo > p{
    color: black;
}


